body {
  margin: 0;
  font-family: sans-serif;
  background-color: #E0F2F1;
  padding: 100px 10%;
  text-align: center;
}

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1024px) {
      body {
          padding: 100px 30%;
      }
}
